*{
  margin: 0;
  padding: 0;
}
.header{
  height: 44px;
  background-color: #000;
  
  padding-left:200px;
}
.header a{
  width:100px;
  float: left;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
}
.content{
  overflow: hidden;
  height: 500px;
}
.left{
  float: left;
  width:200px;
  border-right: 1px solid;
  height: 100%;
}
.left a{
  display: block;
  margin-top: 15px;
  text-align: center;
}
.right{
  float: left;
  height: 100%;
}